@font-face {
    font-family: 'allerbold';
    src: font_url('aller_bd-webfont.woff2') format('woff2'),
         font_url('aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}